.container_lgn{
    padding: 50px;
    background-color: #336699;
    width: 220px;
    justify-content: center;
    position: absolute;
    top: 150px;
    right: 40%;
}
.btnLogin_lgn{
    background-color: rgba(77, 58, 83, 0.048);
    padding: 50px;
}