body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.common{
	padding: 5px 80px;
	overflow: hidden;
}
.container{
	max-width: 1300px;
	margin: auto;
}
.nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer

}
.first-img{
	width: 100px;
	height: 100px;
}
.first-img img {
	width: 100%;
	height: 100%;
}
.nav ul{
	list-style: none;
}
.nav li{
	width: 50px;
	display: inline-block;
	text-align: center;
	padding: 0px 30px;
}