.footer{
	display: flex;
   justify-content: center;
   height: 70px;
   /* background-color: #336699; */
   /* position: absolute;
   bottom: 0; */
}
.footer i{
	padding: 0 30px;
	padding-top: 30px;
	color:#336699 ;
	/* position: absolute; */
   /* bottom: 0; */
}