.contact{
    /* justify-content: center; */
    border: 1px solid rgb(41, 35, 70);
    width: 433px;
    margin-left: 457px;
    height: 231px;
    padding-top: 14px;
}
.contactHeading{
    color: #192f44;
}
.label{
    color: #29415a;
    /* padding-left: 100px; */
}
