.mainM{
    /* width: 80%; */
    /* justify-content: center; */
    margin: 0 auto;
    /* background-color: #d3cfe2; */
    /* display:block; */
    background-color: #788da1;
    position: relative;
    top: -40px;

    
}
.mainM2{
    /* align-items:flex-start; */
    width: 924px;
    padding-left: 100px;
    background-color: #788da1;
    /* justify-content: center; */
    display: flex;
    /* height: 63px; */
    margin-left: 64px;
    padding-bottom: 21px;
    padding-top: 21px;

}
.mainM3{
    width: 38px;
}
.MorePara{
    display: flex;
    /* float: right; */
    align-items: center;
    width: 891px;
    /* height: 48px; */
}
.heading{
    color: #192f44;
    text-align: left;
    margin-left: 103px;
    padding-top: 27px;
}
.more{
    width:500px;
    background-color: #677f97;
    /* margin-top: 28px; */
    padding-left: 40px;
    margin-left: 129px;
    height: 443px;

}
.moreFeedback{
    display: flex;
    /* float: right; */
    align-items: center;
    width: 314px;
    height: 61px;
    padding-left: 10px;
}
.btnMoreReply{
    padding: -2px;
    border: 2px solid #bec5cc;
    border-radius: 8px;
    width: 74px;
    height: 36px;
    position: relative;
    /* top: -112px; */
    left: 159px;
    background-color: #bec5cc;
    bottom: 164px;
}
.feedback2{
    width: 482px;
    position: relative;
    /* top: 20px; */
    bottom: 6px;
}
.imgDivM{
    /* border-radius: 50px; */
    width: 50px;
    height: 50px;
    padding-left: 20px;
    /* padding-right: 20px; */
    display: flex;
    padding-top: 20px;
    padding-bottom: 7px;
}
.imgM{
    border-radius: 50px;
    width: 50px;
    height: 50px;
}
.paraM{
    color: #102031;
    font-size: 22px;
    padding-left: 20px;
    position: relative;
    bottom: 11px;
}
.btnReply{
    position: relative;
    right: 209px;
    /* top: 10px; */
    bottom: 10px;
}
.replyView{
    font-size: 10px;
    text-align: justify;
}
    
